<mat-card align="center" class="mat-elevation-z4">
  <form [formGroup]="formGroup">
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Código</mat-label>
        <input matInput formControlName="id">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="standard">
        <mat-label>Nome</mat-label>
        <input formControlName="nome" type="text" matInput width="300px">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="standard" style="text-align: left">
        <mat-label>Valor</mat-label>
        <input formControlName="valor" currencyMask matInput width="300px">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill" >
        <mat-label>Categoria</mat-label>
        <mat-select required formControlName="categoria">
          <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.descricao}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <div class="row">
    <button mat-button class="button-pesquisa" (click)="salvar()" color="primary">
      <i class="far fa-check"></i>
      Salvar
    </button>
    <button mat-button class="button-listar" (click)="limpar()" color="warn">
      <i class="fas fa-eraser"></i>
      Limpar
    </button>
    <button mat-button class="button-listar" (click)="cancelar()" color="warn">
      <i class="far fa-ban"></i>
      Cancelar
    </button>
  </div>
</mat-card>
